:root {
  /* Width */
  --mobile-width: 375px;
  --desktop-width: 1440px;
  /* Primary */
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  /* Accent */

  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  /* Neutral */
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
  --heading-font: Raleway, Open Sans, Arial;
  --heading-font-weight-1: 400;
  --heading-font-weight-2: 700;
  --body-font: Open Sans, Arial;
  --body-font-weight: 400;
}

/* Resets */
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body, html, ul {
    margin: 0;
}

/* General styles */

body {
    font-family: var(--body-font);
    font-size: 14px;
}

h1, h2, h3, h4, h5 {
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight-2);
    text-align: center;
}

.text-center {
    text-align: center;
}

.secondary {
    background-color: var(--desaturated-blue);
    overflow: hidden;
    padding-top: 56px;
    padding-bottom: 66px;
    color: white;
    text-align: center;
}

.secondary p {
    font-size: 22px;
}

.margin-bottom {
    margin-bottom: 85px;
}

h1 {
    font-size: 22px; /* 22~25 */
    line-height: 1.5em;
}

h2 {
    font-size: 19px; /* 19~16 */
    line-height: 1.5em;
}

.solid-light-blue {
    background-color: var(--light-grayish-blue);
    padding-left: 30px;
    padding-right: 30px;
}

/* Header Styles */

nav {
    display: flex;
    justify-content: space-between;
    padding: 22px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-shrink: 0;
    padding: 0;
}

nav .logo {
    width: 85px;
    flex-shrink: 0;
}

nav ul a {
    text-decoration: none;
    color: var(--desaturated-blue);
    margin-left: 25px;
    font-size: 12px;
}

section, footer {
    padding-left: 30px;
    padding-right: 30px;
}

section > img {
    margin-top: 85px;
}

/* Form Styles */
input {
    width: 80%;
    padding: 15px 35px;
    border-radius: 5px;
    border: none;
    border: 1px solid var(--very-dark-blue);
}

button {
    margin-top: 15px;
    width: 80%;
    height: 40px;
    background-color: var(--bright-blue);
    color: #fff;
    border-radius: 5px;
    border: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-cta {
    color: var(--moderate-cyan);
    text-decoration: none;
    display: flex;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--moderate-cyan);
    margin-bottom: 48px;
}

.icon-cta img {
    margin-left: .5em;
}

.with-curve {
    margin-top: 100px;
    position: relative;
    background-color: var(--light-grayish-blue);
    padding-bottom: 80px;
}

.curve {
    margin-top: 0;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 1px;
    transform: translate(0, -100%);
}


/* Quote Styles */

blockquote {
    margin: 0 15px;
    background-color: #fff;
    padding: 44px 15px 23px 26px;
    border-radius: 5%;
    background-image: url('images/icon-quotes.svg');
    background-repeat: no-repeat;
    background-position: 20px 20px;
}

.quote {
    font-size: 16px;
}

.author {
    display: flex;
}

.author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.author-info {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.author h3 {
    text-align: left;
    font-size: 12px;
    margin: 0;
}

.author h4 {
    margin: 0;
    font-size: 12px;
}


/* Footer Styles */

footer {
    background-color: var(--very-dark-blue);
    padding-top: 66px;
    color: var(--light-grayish-blue);
}

footer img {
    filter: brightness(0) invert(1);
}

footer a {
    color: inherit;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
